.two {
    height: 100vh;
    &__wrapper {
        display: flex;
        align-items: center;
        height: 100%;
        width: max-content;
        margin: 0 auto;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    &__field {
        display: grid;
        grid-template: repeat(4, 120px)/repeat(4, 120px);
        gap: 20px;
        border-radius: 17px;
        padding: 20px;
        background-color: var(--black-1);
    }

    &__cell {
        height: 120px;
        width: 120px;
        background-color: white;
    }

    &__tile {
        position: absolute;
        height: 120px;
        width: 120px;
        background-color: var(--gray-1);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all linear 0.1s;
        &-text {
            font-size: 48px;
            font-weight: 700;
        }

        &-position-1-1 {
            top: 20px;
            left: 20px;
        }
        &-position-1-2 {
            top: 160px;
            left: 20px;
        }
        &-position-1-3 {
            top: 300px;
            left: 20px;
        }
        &-position-1-4 {
            top: 440px;
            left: 20px;
        }

        &-position-2-1 {
            top: 20px;
            left: 160px;
        }
        &-position-2-2 {
            top: 160px;
            left: 160px;
        }
        &-position-2-3 {
            top: 300px;
            left: 160px;
        }
        &-position-2-4 {
            top: 440px;
            left: 160px;
        }

        &-position-3-1 {
            top: 20px;
            left: 300px;
        }
        &-position-3-2 {
            top: 160px;
            left: 300px;
        }
        &-position-3-3 {
            top: 300px;
            left: 300px;
        }
        &-position-3-4 {
            top: 440px;
            left: 300px;
        }

        &-position-4-1 {
            top: 20px;
            left: 440px;
        }
        &-position-4-2 {
            top: 160px;
            left: 440px;
        }
        &-position-4-3 {
            top: 300px;
            left: 440px;
        }
        &-position-4-4 {
            top: 440px;
            left: 440px;
        }
    }

    button {
        margin-top: 20px;
        font-size: 28px;
        height: 60px;
        width: 240px;
    }
}