* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: initial;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: currentColor;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
  cursor: default;
}

p {
  cursor: default;
}

address {
  font-style: normal;
}

select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.header {
  position: absolute;
  top: 0;
  left: -300px;
  background-color: white;
  height: 100%;
  transition: left ease-in 0.15s;
}
.header__content {
  padding: 40px;
  position: relative;
  width: 300px;
  height: 100%;
  border-right: 3px solid var(--black-1);
}
.header__logo {
  font-size: 28px;
  font-weight: 200;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--black-1);
}
.header__menu-button {
  position: absolute;
  height: 50px;
  width: 50px;
  background: var(--black-1);
  right: -50px;
  top: 5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.header_visible {
  left: 0px;
}

.tictac {
  height: 100vh;
}
.tictac__wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
.tictac__content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 60px;
  height: 530px;
}
.tictac__content_restart .tictac__button-restart {
  animation: opacity-one linear 0.1s forwards;
}
.tictac__field {
  margin-bottom: 30px;
  border-radius: 17px;
  height: 440px;
  width: 440px;
  border: 10px solid var(--black-1);
  background-color: var(--black-1);
  background-clip: content-box;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 120px));
  gap: 10px;
}
.tictac__field_rotate {
  transform: rotateY(180deg);
  transition: transform linear 0.3s;
}
.tictac__field_win {
  box-shadow: 0px 0px 20px 7px rgb(97, 201, 97);
}
.tictac__field_lose {
  box-shadow: 0px 0px 20px 7px rgb(201, 97, 97);
}
.tictac__cell {
  height: 120px;
  width: 120px;
  background-color: white;
  padding: 10px;
  cursor: pointer;
}
.tictac__cell-wrapper {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity linear 0.15s;
}
.tictac__cell-wrapper_active {
  opacity: 1;
}
.tictac__cell-o {
  border: 10px solid var(--black-1);
  border-radius: 100%;
  height: 100%;
  width: 100%;
  transition: opacity linear 0.15s;
}
.tictac__cell-x {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: opacity linear 0.15s;
}
.tictac__cell-x span {
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 136%;
  border-radius: 15px;
  background-color: var(--black-1);
  transform-origin: left 50%;
}
.tictac__cell-x span:first-child {
  transform: rotateZ(45deg) translateY(-50%);
}
.tictac__cell-x span:last-child {
  bottom: 0;
  transform: rotateZ(-45deg) translateY(50%);
}
.tictac__button-restart {
  width: 440px;
  height: 60px;
  font-size: 24px;
  background-color: var(--black-1);
  border-radius: 10px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: all linear 0.15s;
  animation: opacity-zero linear 0.15s forwards;
  border: 3px solid transparent;
}
.tictac__button-restart:hover {
  background: white;
  border-color: var(--black-1);
  color: var(--black-1);
}
.tictac__button-restart:active {
  transform: translateY(3px);
}

@keyframes opacity-zero {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity-one {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
:root {
  --black-1: #222222;
}

#root {
  margin: 0 auto;
}/*# sourceMappingURL=styles.css.map */