@import "./null-style";
@import "../Components/Layout/Header/header";
@import "../Components/Intro/intro";
@import "../Components/Tictac/tictactoe";
@import "../Components/Two/two";

:root {
    --black-1: #222222;
    --gray-1: #696969;
}

* { 
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
}

#root {
    margin: 0 auto;
}

.style-button {
    height: 60px;
    font-size: 24px;
    background-color: var(--black-1);
    border-radius: 10px;
    color: white;
    transition: all linear 0.15s;
    border: 3px solid transparent;
    &:hover {
        background: white;
        border-color: var(--black-1);
        color: var(--black-1);
    }

    &:active {
        transform: translateY(3px);
    }
}

header,
section {
    animation: open-section 0.5s ease-in forwards;
}


@keyframes open-section {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}